body{
  background: url(../images/back.jpg) no-repeat center center fixed;
  background-color: #464646;
  background-size: cover;


}
#img_logo{
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

#login-modal .modal-dialog{
  width: 350px;
}

#login-modal input[type=text], input[type=Password]{
  margin-top: 10px;
  
}
